.bv-container .container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.bv-video {
    width: 95%;
    border-radius: 4rem;
    margin-top: -10rem; /* 10rem */
    z-index: 1;
}

@media (max-width: 1024px) {
    .bv-video {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .bv-video {
        border-radius: 2rem;
    }
}

@media (min-width: 768px) {
    .bv-video {
        margin-top: -5rem;
        width: 85%;
    }
}
