.od-wrapper {
    padding-top: 12rem;
}

.od-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.od-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.od-head .tag {
    color: white;
}

.od-head .text {
    color: white;
    text-align: center;
    max-width: 65%;
}

.od-features {
    display: flex;
    gap: 2rem;
}

.od-feature {
    flex: 1;
    background-color: white;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.od-feature .text {
    text-align: center;
}

@media (max-width: 990px) {
    .od-features {
        flex-direction: column;
    }
}

@media (max-width: 590px) {
    .od-feature {
        width: 80%;
        margin: auto;
    }
}